/* Your CSS goes here */
#main {
  text-align: center;
}

#close {
  position: absolute;
  top: 90px;
  right: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
  z-index: 1000;
}
#close img {
  width: 100%;
}

@media (min-width: 801px) {
  #close {
    top: 104px;
  }
}

/* Added by Chris */

body {
	color: #47525d;
	font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.otto-logo {
  position: absolute;
  display : block;
  left: 50%;
  top: 55%;
  transform:translate(-50%, -50%);
  max-height: 300px;
  max-width: 300px;
}